.animate-this {
	width: 200px;
	height: 200px;
	background-color: #004455;
	position: absolute;
	animation: left-to-right 2s;
	-webkit-animation: left-to-right 2s;
	-moz-animation: left-to-right 2s;
	-webkit-animation-name: left-to-right;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: paused;
	animation: left-to-right 2s ease 0s infinite alternate;
	-webkit-animation: left-to-right 2s ease 0s infinite alternate;
	-moz-animation: left-to-right 2s ease 0s infinite alternate;
}

@keyframes left-to-right {
	from { left: 0px; }
	to { left: 400px; }
}

@-webkit-keyframes left-to-right {
	from { left: 0px; }
	to { left: 400px; }
}

@-moz-keyframes left-to-right {
	from { left: 0px; }
	to { left: 400px; }
}
