.animate-this {
	width: 200px;
	height: 200px;
	background-color: #004455;
	position: absolute;
	animation: left-to-right 2s;
	-webkit-animation: left-to-right 2s;
	-moz-animation: left-to-right 2s;
}

@keyframes left-to-right {
	from { left: 0px; }
	to { left: 400px; }
}

@-webkit-keyframes left-to-right {
	from { left: 0px; }
	to { left: 400px; }
}

@-moz-keyframes left-to-right {
	from { left: 0px; }
	to { left: 400px; }
}
